<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WishFund,business,company,agency,multipurpose,modern,bootstrap4">

    <meta name="author" content="themefisher.com">

    <title>DAANVEER- Be Pride to India</title>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style4.css">

</head>

<body style ="background-color:#ccdb86">

    <!-- Header Start -->
    <header style="background: antiquewhite;">

    </div>
    <a href="/"><img class="logo" src="/images/logo2.png" width="150" height="100" margin-right=10px alt="logo"></a>
   <div class="navigation">
     <a href="/">Home</a>
     <a href="/users/about">About</a>
     <a href="/users/contact">Donate</a>
     <a href="/users/event">Upcoming Events</a>
     <a href="/users/Contact-Us">Contact</a>
     <a href="/users/volunteer">Be Volunteer</a>
     <!-- <button ></button> -->
   </div>
        
        
    </header>

    <!-- Header Close -->


    <section class="page-title bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">Contact Us</span>
                        <h1 class="text-capitalize mb-4 text-lg">Get in Touch</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 " style="text-align: center;">
                    <div class="contact-content">
                        <h2 class="mb-5">We’d love to hear from you! <br>Give us call, send us a message?</h2>
                        <ul class="address-block list-unstyled">
                            <li>
                                <h6 class="mb-2">Address</h6>
                                Panipat Institute of Engineering and Technology<br>
                                Kurukshetra University <br>
                                 
                            </li>
                            <li>
                                <h6 class="mb-2">email us</h6>
                                raghavkhurana789@gmail.com
                            </li>
                            <li>
                                <h6 class="mb-2">Phone Numbers</h6>
                                +91 7015110698<br>
                                +91 9540696071<br>
                                +91 8899226039
                            </li>
                        </ul>
                       <h2>Developer's Contact</h2>
                       <ul class="address-block list-unstyled">
                        <li>
                            <h6 class="mb-2">Software Developer</h6>
                            Raghav Khurana<br>
                            raghavkhurana789@gmail.com<br>
                            +91 7015110698 
                        </li>
                        <li>
                            <h6 class="mb-2">Backend Developer</h6>
                            Rishabh Chauhan<br>
                            rishabhc0211@gmail.com<br>
                            +91 9540696071
                        </li>
                        <li>
                            <h6 class="mb-2">UI and Frontend Developer </h6>
                            Sakshi Thakur<br>
                            thakur03sakshi@gmail.com<br>
                            +91 8899226039
                        </li>
                    </ul>

                        
                    </div>
                </div>
               
            </div>
        </div>
    </section>




    

</body>

</html>