<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WishFund,business,company,agency,multipurpose,modern,bootstrap4">

    <meta name="author" content="themefisher.com">

    <title>WishFund- Nonprofit Charity Funderising Theme</title>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/nav_style1.css">

</head>

<body>

    <!-- Header Start -->
    <header style="background: antiquewhite;">
           
        <img class="logo" src="/images/logo .png" width="200" height="100" margin-right=10px alt="logo">
        <nav>
            <ul class="nav_list">
                <li><a href="http://localhost:8000/" style="color: black">Home</a></li>
                <li><a href="http://localhost:8000/users/about">About</a></li>
                <li><a href="http://localhost:8000/users/contact">Donate</a></li>
                <li><a href="http://localhost:8000/users/event">Upcoming Events</a></li>
                <li><a href="http://localhost:3000/">Be Voluntree</a></li>
                <li><a href="http://localhost:8000/users/Contact-Us" style="color: black">Contact</a></li>
                
                
            </ul>
        </nav>
        
        
    </header>

    <!-- Header Close -->


    <section class="page-title bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">Contact Us</span>
                        <h1 class="text-capitalize mb-4 text-lg">Get in Touch</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 " style="text-align: center;">
                    <div class="contact-content">
                        <h2 class="mb-5">We’d love to hear from you! <br>Give us call, send us a message?</h2>
                        <ul class="address-block list-unstyled">
                            <li>
                                <h6 class="mb-2">Address</h6>
                                Apex Institute of Technology<br>
                                Chandigarh University<br>
                                NH-95, Ludhiana - Chandigarh State Hwy, Punjab 140413 
                            </li>
                            <li>
                                <h6 class="mb-2">email us</h6>
                                daanfoundationcu@gmail.com
                            </li>
                            <li>
                                <h6 class="mb-2">Phone Numbers</h6>
                                +91 8218326877<br>
                                +91 8295528491
                            </li>
                        </ul>
                       <h2>Developer's Contact</h2>
                       <ul class="address-block list-unstyled">
                        <li>
                            <h6 class="mb-2">Cloud Developer</h6>
                            Shubham Gupta<br>
                            shubu10102001@gmail.com<br>
                            +91 8218326877 
                        </li>
                        <li>
                            <h6 class="mb-2">UI & Frontend Developer</h6>
                            Abhishek Goel<br>
                            abhishke1234@gmail.com<br>
                            +91 8295528491
                        </li>
                        <li>
                            <h6 class="mb-2">Soch rhe he </h6>
                            Divakar Varshney<br>
                            divakar@gmail.com<br>
                            +91 8295528491
                        </li>
                    </ul>

                        
                    </div>
                </div>
               
            </div>
        </div>
    </section>




    

</body>

</html>