<!DOCTYPE html>
<html>
    <head>
        <title>Event Page</title>
        <link rel="stylesheet" type="text/css" href="/css/event_style.css">
        <!-- <link rel="stylesheet" href="nav_style.css">
         -->
         <link rel="stylesheet" href="/css/nav_style1.css">
    </head>
    <body>
        <header style="background: antiquewhite;">
           
            <img class="logo" src="/images/logo .png" width="200" height="100" margin-right=10px alt="logo">
            <nav>
                <ul class="nav_list">
                    <li><a href="http://localhost:8000/" style="color: black">Home</a></li>
                    <li><a href="http://localhost:8000/users/about">About</a></li>
                    <li><a href="http://localhost:8000/users/contact">Donate</a></li>
                    <li><a href="http://localhost:8000/users/event">Upcoming Events</a></li>
                    <li><a href="http://localhost:3000/">Be Voluntree</a></li>
                    <li><a href="http://localhost:8000/users/Contact-Us" style="color: black">Contact</a></li>
                    
                    
                </ul>
            </nav>
            
            
        </header>
        <section>
            <div class ="leftBox">
                <div class="content">
                    <h1>Events and Donation</h1>
                    <p>We organize various events at different locations in the city. You can be a part of the event and donate to the betterment of society.</p><br>
                    <p>Have a look at all the events and get a notification prior event. Please help our efforts and join us to bring cheers to someone's life.</p><br>
                    <h2>Let's do it together!</h2>

                </div>
            </div>

            <div class="events">
                <ul style="padding-top: 70px;">
                    <li>
                        <div class="time">
                            <h2>25<br><span>April</span></h2>
                        </div>

                        <div class="details">
                            <h3>Save a life this Spring</h3>
                            <p>Every citizen discards upto 80 pound of clothing anually, costing millions of dollers. By donating to "Feed India Initative" you prevents the dumps from filling up with clothing instead help us to save people life.</p>
                            <p>Event Location -
                                Centeral Bazar Ground, Sector 09, Agra
                                Timings - 10am to 4pm
                                Contact - +91 8218326877, Organisier</p>
                        </div>
                        
                        <div style="clear: both;">
                        
                        </div>
                    </li>
                    <li>
                        <div class="time">
                            <h2>02<br><span>May</span></h2>
                        </div>

                        <div class="details">
                            <h3>You can help beat hunger!</h3>
                            <p>Giving is not just a donation, it's about making a difference. Food redistrubution is one of the best win-win, solution come and donate food. You can prevent atleast one famliy from going to bed empty stomach.</p>
                            <p>Event Location -
                                Centeral Bazar Ground, Sector 09, Agra
                                Timings - 10am to 4pm
                                Contact - +91 8218326877, Organisier</p>
                        </div>
                        
                        <div style="clear: both;">
                        
                        </div>
                    </li>
                    <li>
                        <div class="time">
                            <h2>10<br><span>May</span></h2>
                        </div>

                        <div class="details">
                            <h3>Free Medical Health Checkup Camp</h3>
                            <p>Health of the people is the health of the nation. Access to basic quality of health care is one of the most important thing. Come join us on the event and let's ensure good health for all.</p>
                            <p>Event Location -
                                Circular Ground, Agra
                                Timings - 10am to 4pm
                                Contact - +91 8218326877, Organisier</p>
                        </div>
                        
                        <div style="clear: both;">
                        
                        </div>
                    </li>
                </ul>


            </div>
        </section>
    </body>
</html>