<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our team Members</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/team.css">
    <link rel="stylesheet" href="/css/nav_style1.css">
</head>

<body>
  <header style="background: antiquewhite;">
           
    <img class="logo" src="/images/logo .png" width="200" height="100" margin-right=10px alt="logo">
    <nav>
        <ul class="nav_list">
          <li><a href="http://localhost:8000/" style="color: black">Home</a></li>
          <li><a href="http://localhost:8000/users/about">About</a></li>
          <li><a href="http://localhost:8000/users/contact">Donate</a></li>
          <li><a href="http://localhost:8000/users/event">Upcoming Events</a></li>
          <li><a href="http://localhost:3000/">Be Voluntree</a></li>
          <li><a href="http://localhost:8000/users/Contact-Us" style="color: black">Contact</a></li>
            
            
        </ul>
    </nav>
    
    
</header>
     <section class="initative">
        <div class="container">
           <div class="row text-center">
               <div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12">
                   <h1 style="padding-bottom: 0.5rem;" class="textchange"><u>Our Initiative</u></h1>
                   <p>Our Initiative is to help needy people who can't afford to eat ,don't have good clothes and other material things. The aim of this project is to design a system through which people can donate food, clothes and other stuffs to the needy people.
Here people can fill their details and description of the product that they want to donate and those products will be picked by the delivery boys in different areas.
</p>
               </div>
           </div>
            
            
        </div>
    </section>
   
   
    <div class="wrapper">
      <h1>Our Team Members</h1>
      <div class="team">
        <div class="team_meat">
          <div class="team_img">
            <img src="/images/Profile1.jpeg" alt="team_member image">
          </div>
          <h3>Shubham Gupta</h3>
          <p class="role">AWS Solution Architect</p>
            <p style="font-size: 13.5px"><br>Hi Guy's<br> 
I am Front end designer on this project. Throughout my semesters, I have learned various programming languages but I am proficient in python. In this project, I have been working on technologies like HTML and CSS. I am also a graduate of AWS academy and I am handling the cloud deployment on this project.<br>
Being a leader of the team I must admit I have got a team of outstanding people who are very proficient with their skills and have helped me a lot during the entire development process of this project. Overall it's a great team effort.
Cheers!</p>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
        </div>
        <div class="team_meat">
          <div class="team_img">
            <img src="/images/Profile2.jpeg" alt="team_member image">
          </div>
          <h3>Abhishek Goel</h3>
          <p class="role">UI developer</p>
          <br>
          <p>Hello <br>I am an energetic person,  and a quick learner.. I worked on various projects related to the software domain which provided me a great deal of technical exposure along with the importance of working in a team and the value of client satisfaction. I have worked on developing various enterprise-level web applications for helping companies solve problems like ensuring business continuity, market research analysis, etc.</p>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
        </div>
        <div class="team_meat">
          <div class="team_img">
            <img src="/images/Profile3.jpeg" alt="team_member image">
          </div>
          <h3>Divakar Varshney</h3>
          <p class="role">AWS developer</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo enim qui porro, doloribus cum adipisci consequatur, sint corrupti hic recusandae laboriosam tempora corporis sequi dolor, expedita odit illum molestias saepe.</p>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin"></i>
        </div>
      </div>
    </div>
    
    
    
    
    
    
  

    
    
    
     
</body>
</html>