*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
li,a,button
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
header
{
 display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    
}

img:hover
        {
            margin-top: -20px;
            transition: 1s;
            transform:scale(1.3);
            box-shadow: 2px 2px 2px #000;
            z-index: 2;
        }




img{
            border-radius: 10px;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            
        }



.logo
{
    cursor: pointer;
    margin-right: auto;
    
}
.nav_list
{
    list-style: none;
}
.nav_list li 
{
    display: inline-block;
    padding: 0px 20px;
    
}
.nav_link li a
{
    transition: all 0.3s ease 0s;
}
.nav_link li a:hover
{
    color: #0088a9;
}
button
{
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s; 
}
button:hover
{
    background-color:rgba(0,136,169,0.8); 
}

